In [1]:
import pandas as pd

data = {
    "Brand": ["Ford", "Ford", "Ford"],
    "Model": ["Sierra", "F-150", "Mustang"],
    "Typ": ["2.0 GL", "Raptor", ["Mach-E", "Mach-1"]],
}
df = pd.DataFrame(data)

newdf = df.explode("Typ")

In [3]:
df.head()

  Brand    Model               Typ
0  Ford   Sierra            2.0 GL
1  Ford    F-150            Raptor
2  Ford  Mustang  [Mach-E, Mach-1]

In [2]:
newdf.head()

  Brand    Model     Typ
0  Ford   Sierra  2.0 GL
1  Ford    F-150  Raptor
2  Ford  Mustang  Mach-E
2  Ford  Mustang  Mach-1

In [4]:
vew = [ ("#"*(i+1), "Level " + str(i+1)) for i in range(6)]
vew

[('#', 'Level 1'),
 ('##', 'Level 2'),
 ('###', 'Level 3'),
 ('####', 'Level 4'),
 ('#####', 'Level 5'),
 ('######', 'Level 6')]